################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CTN4/FileContentIndex/10ae7e80-7343-4355-8c9c-1e76e4bb7733.vsidx
/.vs/CTN4/FileContentIndex/5c7e73a3-2c57-4d29-845b-07c4c3f67f2f.vsidx
/.vs/CTN4/FileContentIndex/9aadae38-638b-455c-af38-78046f0298d4.vsidx
/.vs/CTN4/FileContentIndex/e95c3845-d01c-4e18-8dc8-7bbfe23818e3.vsidx
/.vs/CTN4/FileContentIndex/ee76b51c-f464-4c59-9395-f66fbebbe783.vsidx
